
{% extends 'veterinaria/padre.html' %}


{% block main_content %}
<body>
   


    <div class="d-flex p-2 mt-4">
        <br>
        <p>
            Soy <b>Andres Ignacio Poysegu Peier</b> y esta es mi primer blog que realizo. <br>
            Soy estudiante de la Tecnicatura en programacian informatica en la universidad nacional de San Martin. <br>
            Esta es una pagina web que se realizo en el curso de programacion web python en la plataforma Coderhouse. <br>
            Esta pagina web fue realizada con el framework de django.<br>
            
        
        </p>
        <br><br><br><br><br><br><br><br><br><br><br>
    </div>
    
</body>


{%endblock%}