<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% extends 'veterinaria/padre.html' %}


{% block main_content %}
<body>
   


    <div class="d-flex p-2">
        
        <p>
            Soy <b>Andres Ignacio Poysegu Peier</b> y esta es mi primer blog que realizo. <br>
            Soy estudiante de la Tecnicatura en programacian informatica en la universidad nacional de San Martin.
        
        </p>
        
    </div>
    
</body>
</html>

{%endblock%}