{% extends 'veterinaria/padre.html' %}


{% block main_content %}



</div>
<div class="col-sm-2 offset-md-5 mt-4">
    <div class="card">
      <div class="card-body">
         <center><h5 class="card-title">Para buscar paciente</h5>
       <a href="../buscarPacientes" class="btn btn-primary">Clickea aca!</a></center>
      </div>
    </div>
</div>


<!-- Para llenar Fomrulario -->

<div class="container mt-5" style='text-align:center' >
    {% if formulario.errors %}
    <p style="color: red"> Hay problemas con los datos cargados</p>
    {% endif %}
        

    <form action="/veterinaria/pacientes/" method="POST" class="form-group">
        {% csrf_token %}
        <table class="table">
            {{formulario.as_table}}
        </table>

        <input type="submit" value="Cargar paciente" class="btn btn-primary">
    </form>

</div>







<!-- Tabla de pacientess -->
<div class="container mt-5">
    <table class="table" center>
        <thead >
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Telefono</th>
                <th>Nombre de la mascota</th>
                <th>Observacion</th>
                <th>Email</th>
                
                <th>ID</th>

                
            </tr>
        </thead>
        <tbody>
                {% for paciente in pacientes %}
                <tr>
                <td>{{paciente.nombre}}</td>
                <td>{{paciente.apellido}}</td>
                <td>{{paciente.dni}}</td>
                <td>{{paciente.telefono}}</td>
                <td>{{paciente.nombre_mascota}}</td>
                <td>{{paciente.observacion}}</td>
                <td>{{paciente.email}}</td>
                <td>{{paciente.id}}</td>
                </tr> 
                {% endfor %}
        </tbody>
    </table>


</div>
<br><br>












{% endblock %}

