<div class="container mt-5" style='text-align:center' >
    {% if formulario.errors %}
    <p style="color: red"> Hay problemas con los datos cargados</p>
    {% endif %}
        

    <form action="/veterinaria/empleados/" method="POST" class="form-group " >
        {% csrf_token %}
        <h4>Actualizar empleado</h4>
        <table class="table">
            {{formulario.as_table}}
        </table>

        <input type="submit" value="Cargar empleado" class="btn btn-primary">
    </form>

</div>
<form action="/veterinaria/empleados" method="get"></form>
<input type="button" action= value="Cargar empleado">

