<!DOCTYPE html>
{% extends 'veterinaria/padre.html' %}


{% block main_content %}


    


    <h1>Empleados trabajando</h1>

    <ul>

        {% for empleado in object_list %}
        <li>
            <p>Nombre: {{empleado.nombre}}</p>

            <p>
                <a href="{%url 'empleados_detail' empleado.dni%}">Ver</a>
                <a href="{%url 'empleados_update' empleado.dni%}">Editar</a>
                <a href="{%url 'empleados_delete' empleado.dni%}">Borrar</a>
            </p>


        </li>
        {%endfor%}

    </ul>

<br><br><br><br><br><br><br><br><br>




{% endblock %}

