<!DOCTYPE html>
{% extends 'veterinaria/padre.html' %}


{% block main_content %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion de empleados</title>
</head>
<body>
    <h1>Informacion del empleado</h1>

    <p>Nombre : {{empleado.nombre}}</p>
    <p>Apellido : {{empleado.apellido}}</p>
    <p>Dni : {{empleado.dni}}</p>
    <p>Telefono : {{empleado.telefono}}</p>
    <p>Cargo : {{empleado.cargo}}</p>
    <p>Email : {{empleado.email}}</p>

    <p>
        <a href="{% url 'empleados_list' %}">Regresar</a>
    </p>
</body>
</html>


{% endblock %}

