{% extends 'veterinaria/padre.html' %}


{% block content %}
<center>
{% if user.is_authenticated %}
<h1>{{ user.username }} bienvenido a tu Perfil</h1>
<img src="{{ imagen }}" width = "150" height = "150"  />
<h2>Username: {{ usuario.username }}</h2>
<h2>Nombre: {{ usuario.first_name }}</h2>
<h2>Apellido: {{ usuario.last_name }}</h2>
<h2>Email: {{ usuario.email }}</h2>
{% endif %}
<br>
<br>

<h2>Queres cambiar tu icono?</h2>
<a class = "btn btn-primary" href = "{% url 'CargarImagen'%}">Clickear aqui</a>
</center>
{% endblock content %}