{% extends 'veterinaria/padre.html' %}

{% load static %}

{% block content %}
<br><br><br><br>
 <div class="columns is-mobile">
  <div class="column is-offset-one-fifth">


<div class="field has-addons">
<form>
  <div class="control">
    <input class="input is-large" name="q" type="text" placeholder="Nombre del usuario..." value="{{ request.GET.q }}"><button type="submit" class="button is-success">Buscar</button>
  </div>



</div>
</div>

<div class="column is-one-quarter">

{% for user in users %}
<div class="box">
  <article class="media">
    
    <div class="media-content">
      <div class="content">
        <p>
          <br>
          <strong>@{{ user.username }}</strong>    <a href="{% url 'newconversation' user.username %}" class="btn btn-primary"> Chatear</a>
        </p>
        
      </div>
    </div>
  </article>
</div>
{% endfor %}
	

</div>

{% endblock %}